
* {
    margin: 0px;
    padding: 0px;
  }
  
  body {
    background: linear-gradient(198deg, #1ca8a4 0%, #de5aff 46%, #ffef70 100%);
    color: aliceblue;
    height: 100%;
    width: 100%;
    margin: 0px;
    font-family: "Poppins", sans-serif;
  }
  
  .header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header__menu {
    max-width: 100px;
    margin-right: 60px;
  }
  
  .header__img--logo {
    width: 200px;
    padding-left: 20px;
  }
  
  .header__menu--profile img {
    height: 20%;
  }
  
  .header__menu--profile {
    margin-right: 8px;
    width: 100px;
    display: flex;
  }
  
  .header__menu ul {
    margin-right: 10px;
    margin-left: -14px;
    margin-top: 0px;
    list-style: none;
    text-decoration: none;
    text-align: right;
    padding: 0px;
    display: none;
    position: absolute;
  }
  
  .header__menu li {
    margin: 10px, 0px;
  }
  
  .header__menu:hover ul,
  ul:hover {
    display: block;
  }
  
  .header__menu ul li a {
    color: white;
    text-decoration: none;
  }
  
  .header__menu ul li a:hover {
    text-decoration: underline;
  }
  
  .main {
    display: flex;
    justify-content: center;
    width: auto;
    align-items: center;
    height: 300px;
  }
  
  .main__title {
    font-size: 0.9em;
    position: absolute;
    margin-bottom: 100px;
  }
  
  .input__search {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 35px;
    color: white;
    border: 2px solid aliceblue;
    height: 35px;
    width: 60%;
    padding: 0px 20px;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    outline: none;
  }
  
  ::placeholder {
    color: white;
    font-size: 1.1em;
  }
  
  .carousel {
    width: auto;
    overflow: scroll;
    padding: 0 30px;
    position: relative;
  }
  
  .carousel__container {
    white-space: nowrap;
    margin: 70px 0;
    padding-bottom: 20px;
    justify-content: center;
  }
  
  .carousel__name {
    font-size: 0.8em;
  }
  
  .carousel-item__img {
    object-fit: cover;
    width: 200px;
    height: 250px;
  }
  
  .carousel-item {
    width: 200px;
    height: 250px;
    border-radius: 20px;
    background-color: #00ffd0;
    overflow: hidden;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center left;
    position: relative;
  }
  
  .carousel-item:hover ~ .carousel-item {
    transform: translate3d(100px, 0, 0);
  }
  
  .carousel__container:hover .carousel-item {
    opacity: 0.3;
    background-color: #ffef70;
  }
  
  .carousel__container:hover .carousel-item:hover {
    opacity: 1;
    transform: scale(1.5);
  }
  
  .carousel-details__img {
    width: 20px;
  }
  
  .carousel-details {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
    font-size: 10px;
    transition: 450ms opacity;
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    text-align: left;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
  }
  
  .carousel-details:hover {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
    opacity: 1;
    transition: 900ms opacity;
  }
  
  .carousel-item--title {
    margin: 0;
    padding: 0;
  }
  
  .carousel-item--subtitle {
    margin-top: 3px;
  }
  
  .login {
    /* background: linear-gradient(blue, red); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 30px;
    /* min-height: calc(100vh - 200px); */
  }
  
  .login__container {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    overflow: hidden;
    padding: 60px 40px;
    border: 2px white solid;
    width: 300px;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .login__container-r {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    overflow: hidden;
    padding: 60px 40px;
    border: 2px white solid;
    width: 300px;
    min-height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  @media only screen and (max-width: 600px) {
    .login__container {
      width: auto;
    }
  
    .login__container-r {
      border: none; 
      padding: 0px;
      width: auto;
      background-color: transparent;
      border-radius: 0;
    }

  
    /* .footer{
         align-items: ;
         flex-direction: column;
    } */
    .footer ul {
      align-items: flex-start;
      flex-direction: column;
      /* padding-left: 10px; */
      width: auto;
    }
  }
  .login__container--form {
    display: flex;
    flex-direction: column;
  }
  
  .login__container--form label {
    font-size: 14px;
  }
  
  .login__container--remenber-me {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 10px;
    align-items: center;
  }
  
  .login__container--remenber-me a {
    color: white;
    text-decoration: none;
    font-size: 14px;
  }
  
  .login__container--remenber-me a:hover {
    text-decoration: underline;
  }
  
  .login__container--socialMedia > div {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .login__container--socialMedia > div > img {
    width: 30px;
    margin-right: 10px;
  }
  
  .login__container--register {
    font-size: 14px;
  }
  
  .login__container--register-p {
    justify-content: center;
    text-align: center;
  }
  
  .login__container--register-p a {
    text-decoration: none;
    font-size: 15px;
    color: white;
    font-weight: bold;
  }
  
  .login__container--register a {
    font-size: 15px;
    color: white;
    text-decoration: underline;
    font-weight: bold;
  }
  
  .login__container--register a:hover {
    text-decoration: none;
  }
  
  .input {
    background: none;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
    margin-bottom: 20px;
    outline: none;
    border-color: aliceblue;
    padding: 10px;
    color: aliceblue;
  }
  
  .button {
    background: rgba(255, 255, 255, 0.3);
    border-color: rgba(0, 0, 0, 0);
    border-radius: 25px;
    color: white;
    padding: 10px;
    font-weight: bold;
    margin: 10px;
  }
  
  .footer {
    display: flex;
    align-items: center;
    height: 100px;
    justify-content: flex-start;
  }
  
  .footer nav {
    width: auto;
  }
  
  .footer ul {
    display: flex;
    justify-content: flex-start;
    width: auto;
  }
  
  .footer ul li::marker {
    font-size: 15;
  }
  
  .footer ul li a {
    text-decoration: none;
    color: #de5aff;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    padding-left: 20px;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  
  /*# sourceMappingURL=styles.css.map */
  
  /*# sourceMappingURL=styles.css.map */
  